<!DOCTYPE html>
<html lang="zh_cn">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href='/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href='/css/index.css'>
  <script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
  <style>
    .msgNotice {
      padding: 100px 0 20px 0;
      text-align: center;
    }

    .msgNotice .success {
      border: 1px solid blue;
      color: #000;
    }

    .msgNotice .error {
      border: 1px solid red;
      color: red;
    }
  </style>