<%-include('./public/head.html')%>

    </head>

    <body>
        <%- include('./public/nav.html')%>
            <%- include('./public/notice.html')%>

                <div class="container section" id="indexPage">
                    <div class="media">
                        <div class="media-left">
                            <a href="/posts?author=<%= post.author._id %>">
                                <img class="media-object img-circle" src='/img/<%= post.author.avatar %>'>
                                <%= post.author.name %>
                            </a>
                        </div>
                        <div class="media-body">
                            <!-- 文章 -->
                            <div class="jumbotron">
                                <span class="badge timeBadge">
                                    <%= post.created_at%>
                                </span>
                                <h3>
                                    <%= post.title%>
                                </h3>
                                <div>
                                    <%- post.content%>
                                </div>

                                <ul class="nav nav-pills" role="tablist">

                                    <li role="presentation">
                                        <a href="#">阅读
                                            <span class="badge">
                                                <%=post.pv||0%>
                                            </span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#">留言
                                            <span class="badge">
                                                <%=post.commentCount||0%>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- 评论 -->
                            <div class="jumbotron pinglunBox">
                                <% comments.forEach(comment=>{%>

                                    <div class="media">
                                        <div class="media-left">
                                            <a href="/posts?author=<%= comment.author._id%>">
                                                <img class="media-object img-circle" src="/img/<%= comment.author.avatar%>" alt="...">

                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <%= comment.author.name%>
                                            </h4>
                                            <%= comment.content%>
                                        </div>
                                    </div>
                                    <% })%>
                                        <%if(user){%>
                                            <form action="/comment/" method="post">
                                                <input type="hidden" name="postId" value="<%=post._id%>">
                                                <p>
                                                    <textarea rows="" cols="" name="content"></textarea>
                                                </p>

                                                <button type="submit">发表</button>
                                            </form>
                                            <%}%>
                            </div>

                        </div>

                    </div>






                </div>
                <!-- 当前页面的js引用 -->
                <script type="text/javascript" src="/js/"></script>
                <!-- 当前页面的js -->

                <%-include('./public/foot.html')%>