<%-include('./public/head.html')%>

    </head>

    <body>
        <%- include('./public/nav.html')%>
            <%- include('./public/notice.html')%>

                <div class="container section" id="indexPage">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-circle">
                            </a>
                        </div>
                        <div class="media-body">
                            <!-- 文章 -->
                            <div class="jumbotron">
                                <span class="badge timeBadge">2017-12.05</span>
                                <h3>Hello, world!</h3>
                                <p>...</p>

                                <ul class="nav nav-pills" role="tablist">

                                    <li role="presentation">
                                        <a href="#">阅读
                                            <span class="badge">42</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#">留言
                                            <span class="badge">3</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- 评论 -->
                            <div class="jumbotron pinglunBox">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object img-circle" src="..." alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Media heading</h4>
                                        ...
                                    </div>
                                </div>
                                <p>
                                    <textarea rows="" cols=""></textarea>
                                </p>

                                <button type="">发表</button>
                            </div>

                        </div>

                    </div>






                </div>
                <!-- 当前页面的js引用 -->
                <script type="text/javascript" src="js/"></script>
                <!-- 当前页面的js -->

                <%-include('./public/foot.html')%>