<%-include('./public/head.html')%>

	</head>

	<body>

		<%- include('./public/nav.html')%>
			<div class="container section" id="indexPage">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object img-circle">
						</a>
					</div>
					<div class="media-body">

						<div class="jumbotron">
							<span class="badge timeBadge">2017-12.05</span>
							<h3>Hello, world!</h3>
							<p>...</p>
							<p>
								<a class="btn btn-primary btn-lg" href="#" role="button">查看更多</a>
							</p>
							<ul class="nav nav-pills" role="tablist">

								<li role="presentation">
									<a href="#">阅读
										<span class="badge">42</span>
									</a>
								</li>
								<li role="presentation">
									<a href="#">留言
										<span class="badge">3</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>




			</div>
			<!-- 当前页面的js引用 -->
			<script type="text/javascript" src="js/"></script>
			<!-- 当前页面的js -->

			<%-include('./public/foot.html')%>