<%-include('./public/head.html')%>
    <link rel="stylesheet" href="/upload/easy-upload.css">
    <script src="/upload/vendor/jquery-1.12.4.min.js"></script>
    <!-- 视实际需要决定是否引入jquery.cookie-1.4.1.min.js-->
    <script src="/upload/vendor/jquery.cookie-1.4.1.min.js"></script>
    <script src="/upload/easyUpload.js"></script>
    </head>

    <body>

        <%- include('./public/nav.html')%>
            <%- include('./public/notice.html')%>
                <div class="container section" id="indexPage">


                    <div class="row">
                        <div id="avatarUpload"></div>
                    </div>



                </div>
                <!-- 当前页面的js引用 -->
                <script>
                    $('#avatarUpload').easyUpload({
                        allowFileTypes: '*.png;*.jpg;', //允许上传文件类型，格式';*.doc;*.pdf'
                        allowFileSize: 100000, //允许上传文件大小(KB)
                        selectText: '选择文件', //选择文件按钮文案
                        multi: false, //是否允许多文件上传
                        multiNum: 1, //多文件上传时允许的文件数
                        showNote: true, //是否展示文件上传说明
                        note: '提示：最多上传1个文件，支持格式为png、jpg', //文件上传说明
                        showPreview: true, //是否显示文件预览
                        url: '/user/upload', //上传文件地址
                        fileName: 'file', //文件filename配置参数

                        timeout: 30000, //请求超时时间
                        successFunc: function (res) {
                            location.href = '/user/cut/' + res.avatar;
                        }, //上传成功回调函数
                        errorFunc: function (res) {
                            console.log('失败回调', res);

                        }, //上传失败回调函数
                        deleteFunc: function (res) {
                            console.log('删除回调', res);
                        } //删除文件回调函数
                    });
                </script>


                <%-include('./public/foot.html')%>