.navbar {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 4px 5px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 4px 5px rgba(0, 0, 0, 0.075);
  border: none 0;
}
.section {
  margin-top: 100px;
}
/* 列表页 */
#indexPage img.media-object {
  width: 60px;
  height: 60px;
  background-color: #ddd;
}
#indexPage .jumbotron {
  background-color: #fff;
  border: 1px solid #eee;
  position: relative;
}
#indexPage .jumbotron .timeBadge {
  position: absolute;
  bottom: 5px;
  left: 10px;
  background-color: #fff;
  color: #666;
}
#indexPage .jumbotron .nav-pills {
  position: absolute;
  bottom: 0;
  right: 0;
}
#indexPage .jumbotron .btn {
  padding: 5px;
  font-size: 14px;
}
#signinPage .center-block,
#loginPage .center-block {
  float: inherit;
}
#signinPage .center-block input,
#loginPage .center-block input,
#signinPage .center-block button,
#loginPage .center-block button,
#signinPage .center-block select,
#loginPage .center-block select,
#signinPage .center-block textarea,
#loginPage .center-block textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 35px;
  margin: 5px 0 10px 0;
}
.pinglunBox:after {
  content: "评论";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  font-size: 18px;
}
.pinglunBox .media {
  margin: 10px 0;
}
.pinglunBox textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  resize: none;
  height: 250px;
}
.pinglunBox button {
  width: 50px;
  height: 30px;
}
